body {
  font-family: "Quicksand";
  font-size: 14pt;
  margin: auto;
  background-color: #EEE; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  height: auto; }

header {
  height: 50px;
  background-color: #2980b9;
  padding: 15px 55px 0 60px; }

header #name {
  font-family: "Quicksand";
  display: inline;
  font-size: 25pt;
  padding-top: 20px;
  color: #fff; }

header #hello {
  display: inline;
  float: right;
  font-size: 18pt;
  right: 50%; }
  header #hello a {
    color: #fff;
    text-decoration: none; }
  @media only screen and (max-width: 465px) {
    header #hello {
      display: none; } }

@media only scren and (max-width: 400px) {
  header #hello {
    float: none; } }
/* nav */
#nav {
  height: 40px;
  background-color: #444;
  padding: 10px 20px 10px 20px; }

#nav-list {
  list-style: none;
  margin-top: 10px; }

#nav-list li {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px; }

#nav-list li.selected a {
  color: #EA9E3D; }

#nav-list li a {
  text-decoration: none;
  color: #999; }

#nav-list li a:hover {
  color: #EA9E3D; }

/* bio */
#bio {
  height: auto; }
  @media only screen and (max-width: 768px) {
    #bio {
      display: flex;
      flex-direction: column;
      align-items: center; } }

#left-para {
  float: left;
  width: 45%; }
  @media only screen and (max-width: 768px) {
    #left-para {
      width: 90%;
      height: auto;
      padding: 0 1rem; } }

.mid-line {
  float: left;
  border: 0.5px solid #888;
  height: 550px;
  margin-top: 50px;
  margin-left: 5%; }
  @media only screen and (max-width: 768px) {
    .mid-line {
      display: none; } }

#right-pic {
  float: right;
  width: 45%; }
  @media only screen and (max-width: 768px) {
    #right-pic {
      width: 100%;
      margin: auto; } }

#profile {
  margin-top: 2.5%;
  width: 100%; }

/* footer */
#footer-table {
  height: 30px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; }

.footer-color {
  margin: 0;
  display: inline;
  height: 30px;
  width: 16.6667%;
  padding: 0; }

#red {
  background-color: #e74c3c; }

#orange {
  background-color: #e67e22; }

#yellow {
  background-color: #f1c40f; }

#green {
  background-color: #27ae60; }

#blue {
  background-color: #2980b9; }

#purple {
  background-color: #9b59b6; }

/* Work page and Photos */
#work-item-list {
  list-style: none;
  margin: auto;
  display: flex;
  align-content: center;
  flex-direction: column; }

/* Photos */
.photos-container {
  margin-top: 1em; }
  .photos-container p {
    margin: 1em 2em; }
  .photos-container .cell {
    margin: 0 1rem;
    align-items: center; }
    @media screen and (min-width: 600px) {
      .photos-container .cell {
        width: 60%; } }
    @media screen and (min-width: 1000px) {
      .photos-container .cell {
        width: calc(100% / 3); } }
  .photos-container .photo-caption {
    border-bottom: 2px solid #EA9E3D;
    margin-top: 2px; }

.responsive-image {
  max-width: 100%; }

.cell img {
  display: block; }

.grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.art-container .project {
  margin: 2rem 0 2rem 0; }
  .art-container .project h3 {
    text-align: center; }
.art-container .cell {
  margin: 0 1rem; }
  @media screen and (min-width: 600px) {
    .art-container .cell {
      width: 60%; } }
.art-container .art-caption {
  border-bottom: 2px solid #EA9E3D;
  margin-top: 2px; }

/*# sourceMappingURL=index.css.map */
